/* src/components/Hero.css */

html {
    height: 100%;
}

body {
    margin: 0;
    background: radial-gradient(ellipse at center, rgba(18, 18, 18, 1) 0%, rgba(30, 30, 30, 1) 35%, #1d1d1d 100%);
}

.hero-section {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    overflow: hidden;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

.logo-image {
    width: 40px;
    height: 40px;
}

.logo-text {
    font-size: 1.5rem;
    color: #FFFFFF;
}

.perspective-text {
    color: #FFFFFF; /* Texto en blanco para contraste */
    font-family: 'Arial', sans-serif;
    font-size: 58px;
    font-weight: 900;
    letter-spacing: -2px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.perspective-line {
    height: 50px;
    overflow: hidden;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
}

p {
    margin: 0;
    text-decoration: none;
    color: #FFFFFF; /* Texto en blanco */
    height: 50px;
    line-height: 50px;
    transition: all 0.5s ease-in-out;
}

a {
    text-decoration: none;
    color: #FFFFFF; /* Texto en blanco */
}

.perspective-line:nth-child(odd) {
    background: #4a858b; /* Color secundario */
    transform: skew(60deg, -25deg) scaleY(0.667);
}

.perspective-line:nth-child(even) {
    background: #9bd9b2; /* Color primario */
    transform: skew(0deg, -25deg) scaleY(1.337);
}

.perspective-text:hover p {
    transform: translate(0, -50px);
}

/* Ajustes de posición */
.perspective-line:nth-child(1) { left: 29px; }
.perspective-line:nth-child(2) { left: 58px; }
.perspective-line:nth-child(3) { left: 87px; }
.perspective-line:nth-child(4) { left: 116px; }
.perspective-line:nth-child(5) { left: 145px; padding-bottom: 2px; }

.ocean {
    height: 5%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #015871; /* Color de fondo de las olas */
}

.wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x;
    position: absolute;
    top: -128px;
    width: 6400px;
    height: 198px;
    animation: wave 7s infinite;
}

.wave:nth-of-type(2) {
    top: -105px;
    animation: wave 7s -.125s infinite, swell 7s ease -1.25s infinite;
}

@keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px; }
}

@keyframes swell {
    0%, 100% { transform: translate3d(0, -25px, 0); }
    50% { transform: translate3d(0, 5px, 0); }
}
